@mixin status-circle($color) {
  span.last_topic::before {
    content: '';
    background-color: $color;
    border: 1px solid black;
    border-radius: 7.5px;
    box-shadow: 1px 1px 0.5px gray;
    box-sizing: border-box;
    float: left;
    margin-right: 5px;
    height: 15px;
    width: 15px;
  }
}

.forum-games-checker-default__row {
  &--unread-ineligible {
    @include status-circle(red); // "red" colors. tomato more rounded, coral lighter, brown has less attention
  }
  &--unread-eligible {
    @include status-circle(green); // "green" colors. olive or olivedrab fit the theme really well
  }
  &--read-ineligible {
    @include status-circle(red);
  }
  &--read-eligible {
    @include status-circle(green);
  }
}
